.paginator{
    margin: 10px;
}

.selectedPage {
    font-size: large;
    font-weight: bold;
    border-color: black;
}

.page {
    cursor: pointer;
    border: 1px solid dimgrey;
    padding: 2px;
}